  a {
    text-decoration: none;
  }
  
  .mainnav-bar {
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      
  }
  .link{
      line-height: 4rem;
      color: black;
      display: grid;
      justify-content: center;
  }
  
  .link:hover{
    /* line-height: 4rem; */
    border-bottom: 2px solid black;
    /* width: 100%; */
  }
  